__pycache__/
creds.py
*.txt.gz
.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
*.txt
!requirements.txt
adj_mat_ind_station_mapper.*
adj_mat.*
speeds.*
meta.dat
/data/processed/fwy-405-n/*
!.gitkeep
